/* Sizes from https://www.metaltoad.com/blog/simple-device-diagram-responsive-design-planning */

/* Mobile Styles */
@media only screen and (max-width: 519px) {
    :root {
        --main-padding: 0.5rem;
        --desktop: none;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 520px) and (max-width: 959px) {
    :root {
        --main-padding: 1rem;
        --desktop: none;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 960px) {
    :root {
        --main-padding: 2rem;
        --desktop: display;
    }
}

* {
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

header {
    padding: 1rem var(--main-padding);
}

main {
    margin: 0;
    padding: var(--main-padding);
    background-color: #fff;
    min-height: 70vh;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

main>section {
    margin: var(--main-padding) auto;
    max-width: 800px;
}

main>section>h2 {
   color: #5f6368;
   font-size: 16px;
   line-height: 1.5;
   margin-top: 1rem;
   margin-bottom: 1.5rem;
}

footer {
    display: block;
    width: 100%;
}

footer>p {
    padding: 2rem;
}

footer>p.beta_desktop {
    display: var(--desktop);
}

footer>p.beta_desktop>kbd {
    margin-left: 0.1rem;
}
